--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
torchaudio
ultralytics
opencv-python-headless
paddlepaddle
paddleocr
transformers
scikit-learn
albumentations
matplotlib
seaborn
pandas
numpy
psutil
scipy
Pillow
pyyaml
tqdm


